body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 0.7;
    
}
h2{
    font-size: 40px;
}
span{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
    padding-left: 3%;
}
#space{
    padding-top: 90px;
}
.half-width{ 
    padding-left: 5%;
    text-align: justify;
    width: 50%;
}
.half-width p{
    margin-bottom: 40px;
}
.half-width img{
    width: 85%;
}
.second-container{
    
    background-image: url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
    width: auto;

}
#person{
    padding-top: 5%;
    padding-left: 20%;
    width: 45%;
}
#pera{
    padding-right: 20%;
}
#padding{
    padding-top: 50px;
    padding-right: 60px;
}
.link-up{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(90deg, #f5b452 0%, #d82e10 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    
}

.recipie-area{
    margin: 10px 5%;

}
.recipie-top{
    padding: 0px 30px 15px 30px;
    text-align: center;
}
.recipie-width{
    
    text-align: justify;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
}
.recipie-width img{
    display: block;
    width: 100%;
}